


  .tituloAnimado {
    -webkit-animation: tituloAnimado 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2 alternate-reverse both;
    animation: tituloAnimado 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2 alternate-reverse both;
  }
  
  
  @-webkit-keyframes tituloAnimado {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes tituloAnimado {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  
  .tituloAnimadoDisk {
    -webkit-animation: tituloAnimadoDisk 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
    animation: tituloAnimadoDisk 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
  }
  
  @-webkit-keyframes tituloAnimadoDisk {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
  @keyframes tituloAnimadoDisk {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  

