.conteinerMain {
  align-items: center;
  padding: 15px;
  @include flex;
  @media screen and (max-width: 870px){
    margin-top: 30px;
  }
  .bio {
      @include flex;
      @media screen and (max-width: 425px){
        width:$width;
      }
  
  &__h1 {
        color:map-get($colores,"texto");
        padding: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 3rem;
        font-family: 'Anton', sans-serif;
        @media screen and (max-width: 425px){
          font-size: 2rem;
        }
      }
      
  &__img {
        align-items: center;
        width: $width;
      }
      
  &__text {
        display: flex;
        color:map-get($colores,"texto");
        text-align: center;
        flex-direction: column;
        margin: 1rem;
        width: 80%;
        font-size: 1.50rem;
        font-family:'Indie Flower', cursive;
        @media screen and (max-width: 768px){
          width:$width;
          
          
        }
  
      &__textArticle {
          margin: 15px 0;
          .parrafo {
            color:map-get($colores,"texto");
            margin: 10px;;
          }
          
        }
        .parrafo2{
          @extend .parrafo;
          font-size: larger;
          padding-top: 10px;
        }
      }
      
    }
    .conteinerVideo{
      display: flex;
      justify-content: center;
      @media screen and (max-width: 420px){
        margin-left: 5rem;
        margin-right: 5rem;
      }
    }
    
}
    
          
        

      
    
    
  