.videoIndex {
    display: flex;
    justify-content: center;
    height: 100px;
    min-height: calc(100vh - 100px - 50px);
    @media screen and (max-width: 870px){
      padding: 50px 0;
    }
   
    .video {
      width:$width;
    }
  }
  