h2 {
    color: red;
    font-size: 3rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  h3 {
    color: red;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-bottom: 10px;
  }

  .titulo {
    color: firebrick;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    font-style: oblique;
    text-align: center;
  }
  