@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Fascinate&family=Fjalla+One&family=Fredericka+the+Great&family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables";
@import "maps";
@import "mixins";
@import "logo";
@import "titulos";
@import "inicio";
@import "discografiaContenido";
@import "imagenesContenido";
@import "bioContenido";
@import "contactoContenido";
@import "listas";
@import "animaciones";
@import "fondos";
@import "footer";
@import "tienda";