@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables";
@import "maps";
@import "mixins";
@import "logo";
@import "titulos";
@import "inicio";
@import "discografiaContenido";
@import "imagenesContenido";
@import "bioContenido";
@import "contactoContenido";
@import "listas";
@import "animaciones";
@import "fondos";
@import "footer";